@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #1E252B;
    color: #F4F6F8;
}

#root {
    min-height: 100vh;
    background: #1E252B;
}
